APP_NAME=bot-over-signals
APP_ENV=local
API_V1_PREFIX=/api/v1
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=bot_over_signals
POSTGRES_USER=bot_user
POSTGRES_PASSWORD=bot_password
REDIS_HOST=redis
REDIS_PORT=6379
